<p-dialog
[(visible)]="visible"
[modal]="true"
[style]="{ width: '550px' }"
[header]="title"
(onHide)="close()"
>

  <ng-template #content>
    <form [formGroup]="form">
      <div class="flex flex-col gap-8 mt-1">
        <div>
          <label for="name" class="block font-bold mb-3">Name</label>
          <input type="text" pInputText id="name" formControlName="name" required autofocus fluid />
        </div>
        <div>
          <label for="typeLabel" class="block font-bold mb-3">Tipo</label>
          <p-select formControlName="type" inputId="typeLabel" [options]="CategoryTypes" optionLabel="label" optionValue="value" placeholder="Selecione o tipo" fluid (onChange)="this.form.get('parentCategory')?.reset(); this.loadParentCategories()" />
        </div>
        <div class="w-full">
          <label class="block font-bold mb-3">Categoria Pai</label>
          <p-autocomplete formControlName="parentCategory" [suggestions]="listFilterParentCat" optionLabel="name" placeholder="Selecione a categoria pai" mes dropdown display="chip" (completeMethod)="filterParentCat($event)"></p-autocomplete>
        </div>
        <div>
          <label for="description" class="block font-bold mb-3">Descrição</label>
          <textarea id="description" pTextarea formControlName="description" rows="3" cols="20" fluid></textarea>
        </div>
        <div class="flex gap-4">
          <label for="active" class="block font-bold mt-0">Status</label>
          <p-toggleswitch formControlName="active"/>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #footer>
    <div class="mt-1">
      <p-button label="Cancelar" icon="pi pi-times" text (click)="close()" />
      <p-button label="Salvar" icon="pi pi-check" (click)="submit()" [disabled]="form.invalid"/>
    </div>
  </ng-template>

<!--    <div class="flex flex-col gap-1">-->
<!--      <div class="font-semibold text-md">Nome</div>-->
<!--      <input id="name" type="text" pInputText formControlName="name" class="w-full" />-->
<!--    </div>-->

<!--    <div>-->
<!--      <label for="name" class="block font-bold mb-3">Name</label>-->
<!--      <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus fluid />-->
<!--      <small class="text-red-500" *ngIf="submitted && !product.name">Name is required.</small>-->
<!--    </div>-->

<!--    <div class="flex flex-col gap-1">-->
<!--      <label for="type" class="text-sm font-medium text-gray-700">Tipo</label>-->
<!--      <p-select [options]="CategoryTypes" formControlName="type" optionLabel="label" placeholder="Selecione o tipo" />-->
<!--    </div>-->

<!--    <div class="flex flex-col gap-1">-->
<!--      <label for="active" class="text-sm font-medium text-gray-700">Status</label>-->
<!--      <p-toggleswitch formControlName="active"/>-->
<!--    </div>-->

<!--    <div class="flex justify-end gap-2 pt-4">-->
<!--      <p-button label="Cancelar" severity="secondary" (click)="close()" />-->
<!--      <p-button label="Salvar" icon="pi pi-check" (click)="submit()" [disabled]="form.invalid" />-->
<!--    </div>-->
</p-dialog>
